<nav class="navbar">
    <div class="navbar-container">
        <div></div>
        <a href="/" class="logo">
            <img src="./static/images/dogs.png" alt="3DGS Viewer Logo">
            <span>3DGS Viewer</span>
        </a>
        <div class="nav-links">
            <% if (!user) { %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            <% } else { %>
                <a href="/" class="nav-link">
                    <i class="fa fa-home"></i> Home
                </a>
                <!-- <a href="/upload" class="nav-link">
                    <i class="fa fa-upload"></i> Upload
                </a> -->
                <div class="user-menu">
                    <div class="user-avatar">
                        <% if (user.avatar_path) { %>
                            <img src="<%= user.avatar_path %>" alt="<%= user.username %>" 
                                 style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;">
                        <% } else if (user.email && gravatar) { %>
                            <img src="<%= gravatar.getGravatarUrl(user.email, 40, 'identicon') %>" 
                                 alt="<%= user.username %>"
                                 style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover;">
                        <% } else { %>
                            <%= user.username.charAt(0).toUpperCase() %>
                        <% } %>
                    </div>
                    <div class="dropdown-menu">
                        <span class="dropdown-item" style="font-weight: 600;">
                            <i class="fa fa-user"></i> <%= user.username %>
                            <% if (user.full_name) { %>
                                <br><small style="font-weight: normal; font-size: 0.875rem;"><%= user.full_name %></small>
                            <% } %>
                        </span>
                        <hr style="margin: 0.5rem 0; border-color: rgba(0,0,0,0.1);">
                        <a href="/profile" class="dropdown-item">
                            <i class="fa fa-cog"></i> Profile Settings
                        </a>
                        <a href="/upload" class="dropdown-item">
                            <i class="fa fa-upload"></i> Upload Model
                        </a>
                        <a href="/delete" class="dropdown-item">
                            <i class="fa fa-trash"></i> Manage Models
                        </a>
                        <hr style="margin: 0.5rem 0; border-color: rgba(0,0,0,0.1);">
                        <form action="/logout" method="post" style="margin: 0;">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="dropdown-item" style="width: 100%; text-align: left; background: none; border: none; cursor: pointer;">
                                <i class="fa fa-sign-out"></i> Sign Out
                            </button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>